/* =================================
   NAVBAR
================================= */

.navbar {
  width: 100%;
  height: 70px;

  position: sticky;
  top: 0;
  z-index: 1000;

  background: var(--card-color);

  border-bottom: 1px solid var(--border-color);

  transition: 0.3s ease;
}


.nav-container {
  width: 100%;
  max-width: 1200px;

  height: 100%;

  margin: auto;

  padding: 0 30px;

  display: flex;

  align-items: center;

  justify-content: space-between;
}


/* =================================
   LOGO
================================= */

.logo {
  display: flex;

  align-items: center;

  gap: 10px;

  color: var(--text-color);

  text-decoration: none;

  font-size: 20px;

  font-weight: bold;
}


.logo img {
  width: 45px;

  height: 45px;

  object-fit: cover;

  border-radius: 50%;
}


/* =================================
   DESKTOP MENU
================================= */

.nav-links {
  display: flex;

  align-items: center;

  gap: 8px;
}


.nav-links a {
  color: var(--text-color);

  text-decoration: none;

  padding: 10px 14px;

  border-radius: 8px;

  font-size: 18px;

  transition: 0.3s ease;
}


/* Hover */

.nav-links a:hover {
  background: var(--tag-bg);

  color: var(--primary-color);
}


/* Active */

.nav-links a.active {
  background: var(--primary-color);

  color: white;
}


/* =================================
   RIGHT SIDE
================================= */

.nav-actions {
  display: flex;

  align-items: center;

  gap: 10px;
}


/* =================================
   THEME BUTTON
================================= */

.theme-button {
  width: 42px;

  height: 42px;

  display: flex;

  align-items: center;

  justify-content: center;

  border: 1px solid var(--border-color);

  border-radius: 50%;

  background: var(--card-color);

  color: var(--text-color);

  cursor: pointer;

  font-size: 18px;
}


/* =================================
   MOBILE MENU BUTTON
================================= */

.menu-button {
  display: none;

  width: 42px;

  height: 42px;

  align-items: center;

  justify-content: center;

  border: 1px solid var(--border-color);

  border-radius: 8px;

  background: var(--card-color);

  color: var(--text-color);

  cursor: pointer;

  font-size: 22px;
}
